/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  background-image: url("./Img/31c246abf46c5c0a3bcd8cb3d07cb5b4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
  /* tem que arruma a img do funto 
  ela nao esta ficando full na tela
  */
}
* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: left;
  vertical-align: top;
}
.font-perfilUsuario{
  color: aliceblue;
}
/* -------------------------------------------------------------------------------------------------------------------------- */
#root{
  height: 100%;
  min-height: 100vh;
}
/* TELA DE CADASTRO_USUARIOS */
.funto_cadastro_usuarios {
  background-image: url("./Img/31c246abf46c5c0a3bcd8cb3d07cb5b4.png"),
    linear-gradient(
      to bottom,
      rgba(20, 67, 161, 0.381) 100%,
      rgba(29, 193, 202, 0.54) 0%
    );
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/* -------------------------------------------------------------------------------------------------------------------------- */

/* TELA DE LOGIN */
.funto_login {
  background-image: url("./Img/529984555ddf35b87d2cf8acf5aca678.jpg");

  background-position: center;
  background-repeat: no-repeat;
}
.Filtro {
  background-image: linear-gradient(
    to bottom,
    rgba(20, 67, 161, 0.381) 100%,
    rgba(29, 193, 202, 0.54) 0%
  );
}
.Filtro2 {
  background-image: linear-gradient(
    to bottom,
    #563aff 0%,
    rgba(61, 45, 163, 0.72) 100%
  );
}
/* -------------------------------------------------------------------------------------------------------------------------- */

.testt {
  background-color: #dbd6fff0;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(219, 214, 255, 0.941);
  /* style={{ backgroundColor: "rgba(0,0,0,0.3)" }} */
}

/* body {
  background-image: url(../src/pages/img/fundo-cadastros.jpg);
  background-color: #eaeaea;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
} */
/* .Img-Funto{
  width: 100%;
  height:100vh;
  background-image: url(https://img.freepik.com/vetores-gratis/fundo-digital-do-espaco-azul-da-copia_23-2148821698.jpg?t=st=1684491857~exp=1684492457~hmac=2e615876e3f7202b94975f08d83f6c7a3533a3648e54b266bcc61b3f4edf876f);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

/* .tete {
  color: #015a81ac;
  color:  rgb(169, 169, 169);
  color: white;
  color: #14037e;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.usuario-test{
 display: flex; 
 justify-content: end;
 height:100vh;
} */
/* rgb(244 241 241) */

/* Cor
--------------navb------------------------------
style={{ boxShadow:"0 0 11px rgb(244 241 241)" }}
style={{ boxShadow:"0 0 11px rgb(169, 169, 169)" }} usando essa
---------------------------------------------------
--------------Usuarui_Usuario----------------------
style={{ backgroundColor: "#f3f2ef" }}
style={{ backgroundColor: "#0a14cfd1" }} usando essa
--------------------------------------------------

 */
